*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #EEE;
  color: #111;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

.status {
  position: fixed;
  z-index: 1;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.status.is-loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.status.is-loading::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

footer {
  text-align: right;
  font-size: 0.8em;
  padding: 1rem 0.5em 0.25em;
}

th {
  text-align: left;
  vertical-align: top;
  line-height: 1;
  border-bottom: 1px solid gray;
}

tr.subHeading {
  font-size: 0.8em;
}

td {
  padding: 0 1em 0 0;
}

tbody > tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.075);
}

.sortWidget {
  cursor: pointer;
  padding-right: 1.5em;
}

  .sortWidget.is-active {
    padding-right: 0;
  }

    .sortWidget.is-active::after {
      display: inline-block;
      content: '';
      width: 1em;
      height: 0.8em;
      margin-left: 0.5em;
      text-align: center;
      border: 0.5em solid transparent;
    }

    .sortWidget.is-ascending::after {
      border-top-width: 0;
      border-bottom-width: 0.8em;
      border-bottom-color: currentColor;
    }

    .sortWidget.is-descending::after {
      border-bottom-width: 0;
      border-top-width: 0.8em;
      border-top-color: currentColor;
    }
